$dark-theme : #202020;
$light-theme : #ffffff;

$dark-theme-nav : #1312124b;
$light-theme-nav : rgba(255, 253, 251, 0.459);


$dark-scroll-top : #1212137c;
$light-scroll-top : rgb(197, 179, 155);

$border-color-dark:rgba(168, 168, 168, 0.548);
$border-color-light:rgba(27, 27, 27, 0.733);

$menu-dark:#2d3748;
$menu-light:#b9b9b9;

$log-in-dark:#2f2f30;
$log-in-light:#f7f7f7;

$loading-dark:#2d374862;
$loading-light:#ffffff50;

$confirm-form-dark:#141516;
$confirm-form-light:#cccccc;


$input-dark:#555555;
$input-light:rgb(211, 211, 211);

$message-dark:#1d1f24;
$message-light:rgb(202, 202, 202);

$menu-item-dark:#2a303b;
$menu-item-light:#c9c9c9;

$section-dark : #181818;
$section-light : #cfcfcf50;

$card-dark:#272727e3;
$card-light:#ddd;

$button-blue-one: #0362999f;
$button-blue-tow:#0a7fc2d8;


$boold-blue:rgb(103, 143, 255);
$boold-blue-2:rgb(67, 114, 243);
$boold-blue-3:rgb(46, 100, 250);

// chips color 
$chips-dark : #333333;
$chips-light : #5f5f5f;

$chips-light-gray-border : #888888c5;
$chips-light-gray-body : #b6b6b694;
$chips-light-gray-text : #2c2c2c;

$chips-dark-gray-border : #a7a7a7d0;
$chips-dark-gray-body : #47474794;
$chips-dark-gray-text : #ffffffcb;

$chips-form-blue-body:rgba(114, 180, 255, 0.432);
$chips-form-blue-border:rgba(114, 180, 255, 0.685);
// chips color 

$blue : #81e6d9;

$blue-1-light : #5fada4;
$blue-2-light : #98cfc944;

$blue-1-dark : #81e6d9;
$blue-2-dark : #bcf0e944;

$dark-icon-theme-color:rgb(103, 143, 255);
$light-icon-theme-color:#fbd38d;

$font-light : #ffffff;
$font-dark : #000000;

$error-message-body:rgba(231, 63, 63, 0.719);
$error-message-border:rgba(230, 48, 48, 0.829);

$success-message-body:rgba(47, 177, 36, 0.555);
$success-message-border:rgba(90, 241, 60, 0.719);

// confirm form colors
$confirm-form-red-body:rgba(226, 21, 21, 0.473);
$confirm-form-red-border:rgba(236, 34, 34, 0.829);

$confirm-form-green-body:rgba(32, 155, 20, 0.555);
$confirm-form-green-border:rgba(41, 172, 15, 0.719);
// confirm form colors

// links color 
$link-dark:#ad0a64;
$link-light:#0350f7;
// links color 


$medium : medium;
$large : large;
$x-large : x-large;
$xx-large : xx-large;
$x3-large : 40px;
$x4-large : 50px;
$small : small;
$x-small : x-small;
$black : black;


$phone : 700px;
$x-large-display : 1500px;